#main {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Roboto;
}

#image {
    width: 800px;
}

#screen {
    position: absolute;
    z-index: 100;
    width: 685px;
    height: 365px;
    margin-left: 74px;
    margin-top: 39px;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0);
}

#shutdownbutton {
  background: #b10000;
  border: none !important;
  position: absolute;
  z-index: 97;
  width: 15px;
  height: 15px;
  opacity: 0.65;
  margin-top: 409px;
  margin-left: 5px;
  border-radius: 50%;
}

#shutdownbutton:focus {
    outline: none !important;
}

#shutdownbutton:hover {
    background: white;
}

#volumeup {
    position: absolute;
    z-index: 97;
    width: 15px;
    height: 15px;
    background: rgb(89 89 89);
    border: none !important;
    opacity: 0.65;
    margin-top: 419px;
    margin-left: 677px;
    border-radius: 50%;
}

#volumeup:hover {
    background: white;
}

#volumeup:focus {
    outline: none !important;
}

#volumedown {
  position: absolute;
  z-index: 97;
  width: 15px;
  height: 15px;
  background: rgb(89 89 89);
  border: none !important;
  opacity: 0.65;
  margin-top: 419px;
  margin-left: 719px;
  border-radius: 50%;
}

#volumedown:focus {
    outline: none !important;
}

#volumedown:hover {
    background: white;
}

#title {
    font-size: 40;
    text-align: center;
    font-weight: bold;
    color: rgba(255,255,255,0.0);
    margin-top: 10px;
}

/* caixa do link */
#linkinput {
    font-weight: 900;
    width: 530px;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 15px;
	padding-left : 15px;
    padding-right: 15px;
    margin-top: 96px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	letter-spacing: 0px;
    background-color: rgb(53, 53, 53);
    color: white;
}
/* botao buscar */
#inputok {
    width: 100px;
    height: 35px;
    border-radius: 15px;
    background-color: rgb(53, 53, 53);
    outline: none;
    border: none;
    text-align: center;
    margin-left: 5px;
	letter-spacing: 2px;
	font-family: Roboto;
	font-size: 15;
    transition: all 0.5s;
}

#inputrec {
    margin: 0 auto;
    width: 650px;
    height: 40px;
    margin-top: -30px;
}

#inputok:hover {
    background-color: rgb(89, 89, 89);
}



#bttrec {
    position: relative;
    /* margin: 0 auto; */
    top: 82%;
    left: 50%;
    width: 288px;
    height: 90px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 90px);
    grid-gap: 20px 10px;
}

#downrec {
    position: relative;
    margin: 0 auto;
    top: 57%;
    left:19%;
    margin-top: 10px;
    width: 160px;
    height: 60px;
    display: grid;
    grid-template-columns: repeat(3, 60px);
    grid-gap: 20px 40px;
}



#inputtitle {}
/* tamanho das img em svg */
.fw {
    width: 100%;
    height: 100%;
	opacity: 1;
}

.white {
    filter: invert(1);
}

.fw:hover {
    background-color: #b10000;
	opacity: 1;
    border-radius: 50%;
}
/* background das img */
.bttn {
    width: 25%;
    height: 25%;
    border-radius: 50%;
    background-color: white;
}
/* Se quiser exibir a hora em narnia só mudar a opacidade da fonte */
.clock {
	font-size: 20;
	text-align: left;
    color: rgba(255,255,255,0.0);
    font-family: Roboto;
	letter-spacing: 2px;
	margin-top: -38px;
	margin-left: 30px;
}
/* volume */
#testrecv {
  font-size: 15;
    color: rgb(53 53 53);
    margin-top: -35px;
    margin-right: 30px;
    text-align: right;
    font-family: Roboto;
    letter-spacing: 2px;
}
/* looping */
#testrecl {
  font-size: 15;
  color: rgb(53 53 53);
  margin-top: 10px;
  margin-right: 30px;
  text-align: right;
  font-family: Roboto;
  letter-spacing: 1px;
}

hr.new2 {
  margin-top: 2px;
  border-bottom: 5px solid rgb(0, 102, 255);
  opacity: 0.4;
}
/* Tocando agora */
#testrec {
    color: white;
    margin: 0 auto;
    margin-top: 140px;
    margin-left:-50px;
    text-align: center;
	max-width: 300px;
	letter-spacing: 2px;
	font-family: Roboto;
    font-size: 10px;
}
/* Tempo da track */
#testtime {
    color:#b10000;
    margin: 0 auto;
    margin-top: -30px;
    margin-left:650px;
    text-align: center;
	max-width: 300px;
	letter-spacing: 1px;
	font-family: Roboto;
}
